<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "Indonesian.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Michal</h1>
		<p>Welcome to my blog</p>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>

	</div>
</div>