<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway|Open+Sans' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
      <%= image_tag "Logo" %>
      <% end %>
    </div>
    <ul>
      <li class="category">Website</li>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
    
    <ul>
      <li class="category">Social</li>
      <li><a href ="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Github</a></li>
      <li><a href="#">Mail</a></li>
    </ul>
    
    <p class="sign_in">Admin login</p>
  </div>
  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
      <p>All posts</p>
      <% elsif current_page?(about_path) %>
      <p>About me</p>
      <% else %>
      <p><%= link_to "Back to all posts", root_path %></p>
      <% end %>
      <% if user_signed_in? %>
        <div class="buttons">
          <p class="button"><%= link_to "New post", new_post_path %></p>
          <button class="button">Log out</button>
        </div>
      <% end %>
      </div>
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    <%= yield %>
  </div>



</body>
</html>
